*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f2c2c;
    background-image: url(../icons/jym_bg.jpg);
}

.app-window {
    font-size: 1.3em;
    height: 95vh;
    width: 95vw;
    border-radius: 10px;
    background-color: #E1E4CE;
    overflow: hidden;
}

.person-info {
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.person-info input {
    width: 100%;
    line-height: 28px;
    font-family: inherit;
    border-radius: 5px;
    text-align: center;
    outline: none;
    font-size: inherit;
}

.save {
    cursor: pointer;
    margin-top: 20px;
    background-color: #2b6380;
    border-radius: 5px;
    padding: 3px 0;
    color: white;
    border: 1px solid #fff;
}

.save:hover {
    background-color: #3e718b;
}

.info {
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}


.header__info {
    display: flex;
}

.header__tile {
    padding: 5px 0;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.header__tile:nth-child(1) {
    background-color: #D2D2D2;
}

.header__tile:nth-child(2){
    background-color: #8DC9EB;
}

.header__tile:nth-child(3){
    background-color: #8DEBB2;
}

.edit-btn {
    color: #99FF49;
    background-color: #245E7E;
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.forecast__container {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin: 100px auto;
}

.btn__forecast {
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.btn__forecast:nth-child(1){
    background-color: #70E2EA;
    color: #0500FF;
}
.btn__forecast:nth-child(2){
    background-color: #EADE70;
    color: #932525;
}
.btn__forecast:nth-child(3){
    background-color: #EA8670;
}
.btn__forecast:nth-child(4){
    background-color: #FF5C5C;
}

.result__page {
    padding: 10px;
}


.exit {
    position: relative;
    width: fit-content;
    padding: 3px 10px;
    font-size: 20px;
    background-color: #70E2EA;
    margin-left: 50px;
}


.exit::before {
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../icons/Polygon\ 1.svg);
    background-repeat: no-repeat;
}

.week__table {
    border-collapse: collapse;
    border: 1px solid black;
    border-bottom: none;
    margin-top: 80px;
}

.week__table thead {
    font-size: 16px;
    font-weight: normal;
}

.week__table th {
    color: white;
    background-color: #000000;
    padding: 3px;
    border-bottom: 1px solid black;
    border-right: 1px solid rgb(255, 255, 255);
}

.week__table tr {
    font-size: 16px;
    text-align: center;
}

.week__table td {
    padding: 2px;
    background-color: #e1f3ff;
    border-bottom: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
}
